.containerFooter{
    max-width: 980px;
    margin: auto;   
    margin-top: 25px;
}
.centerContentFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.centerContentFooter #copy{
    margin-block: 10px;
}
.centerContentFooter span , .centerContentFooter span a{
    color: #a1a1a1;
    text-align: center;
}